@page "/add-request"
@page "/appeal/{ApplicationId:int}"
@inject IHttpService _httpService
@inject IClientAuthService _authService
@inject NavigationManager _navigationManager
@inject ISnackbar _snackbar

<div style="width: 600px; margin-top: 120px; margin: auto">
    @if (!IsForAppeal)
    {
        <h3>Create a new Request</h3>
    }
    else
    {
        <h3>Appeal for Request</h3>
    }
    <EditForm Model="@ApplicationRequest" OnValidSubmit="Apply">
        <MudCard>
            <DataAnnotationsValidator />
            <MudCardContent>
                @if (!IsForAppeal)
                {
                    <MudSelect Label="Select Course" @bind-Value="ApplicationRequest.CourseId">
                        @foreach (var course in Courses)
                            {
                            <MudSelectItem Value="@course.Id">@course.CourseName</MudSelectItem>
                            }
                    </MudSelect>
                }
                <MudTextField Label="Short Description" @bind-Value="ApplicationRequest.ApplicationName" For="@(() => ApplicationRequest.ApplicationName)" />
                <MudTextField Label="Long Description" @bind-Value="ApplicationRequest.ApplicationBody" For="@(() => ApplicationRequest.ApplicationBody)" Lines="3" />
            </MudCardContent>
            <br />
            <MudCardActions>
                <MudButton FullWidth="true" ButtonType="MudBlazor.ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Disabled="IsLoading">Apply</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</div>

@code {

    [Parameter]
    public int ApplicationId { get; set; }
    public bool IsForAppeal { get; set; }
    private ApplicationRequestFormModel ApplicationRequest { get; set; } = new();
    private List<CourseModel> Courses { get; set; } = new();
    private bool IsLoading { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (_authService.User != null && _authService.User.UserRole == UserRole.Student)
        {
            try
            {

                if (ApplicationId > 0)
                {
                    ApplicationRequest = await _httpService.Get<ApplicationRequestFormModel>($"/api/student/application/{ApplicationId}");
                    IsForAppeal = true;
                }
                else
                {
                    Courses = await _httpService.Get<List<CourseModel>>("/api/student/courses");
                }
            }
            catch
            {
                Courses = new List<CourseModel>();
            }
        }
        else
        {
            _navigationManager.NavigateTo("/");
        }
    }

    private async Task Apply()
    {
        try
        {
            if (ApplicationId > 0)
            {
                await _httpService.Post<IdModel>($"/api/student/appeal/{ApplicationId}", ApplicationRequest);
                _navigationManager.NavigateTo($"/file-upload/{ApplicationId}");
            }
            else
            {
                var response = await _httpService.Post<IdModel>("/api/student/application", ApplicationRequest);
                _navigationManager.NavigateTo($"/file-upload/{response.Id}");
            }

        }
        catch
        {
            _snackbar.Add("Something went wrong, please try again", Severity.Error);
        }
    }
}
